<p>{{userDetails.username}}</p>
<p>{{userDetails.role}}</p>
<form>
    <div class="p-mx-auto p-inputgroup p-mb-3" style="width: 300px">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input type="text" pInputText placeholder="Username" value="{{userDetails.username}}" />
    </div>
    <div class="p-mx-auto p-inputgroup p-mb-3" style="width: 300px">
        <span class="p-inputgroup-addon"><i class="pi pi-ellipsis-h"></i></span>
        <input type="password" pInputText placeholder="Password" value="user.role" />
    </div>
    <div class="p-mx-auto" style="width: 300px;">
        <button routerLink="/users" pButton pRipple type="button" label="Back" icon="pi pi-home" iconPos="left" class="p-mr-3"></button>
        <button (onFormSave)="submitted.emit($event)" pButton pRipple type="button" label="Save" icon="pi pi-save"
            iconPos="left" class="p-ml-3"></button>
    </div>
</form>