<div class="p-mb-4">
  <p-button class="p-mr-3" routerLink="/" label="Home" icon="pi pi-home"></p-button>
  <p-button label="Add user" icon="pi pi-plus"></p-button>
</div>
<p-table class="p-mt-4" [value]="data">
  <ng-template pTemplate="header">
    <tr>
      <th>Id-ja</th>
      <th>Përdoruesi</th>
      <th>Roli</th>
      <th>Ditët</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-dat>
    <tr (click)="userDetails(dat.id)">
      <td>{{ dat.id }}</td>
      <td>{{ dat.username }}</td>
      <td>{{ dat.role }}</td>
      <td>{{ dat.days }}</td>
    </tr>
  </ng-template>
</p-table>
