<ng-container *ngIf="days$ | async as days; else loading">
  <!-- TODO Implemento tabelen e diteve, te dhenat i ke te days dhe mund tja kalosh direkt -->
  <p-table [value]="days.days">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.id}}</td>

        </tr>
    </ng-template>
</p-table>
  <!-- <pre>{{ days | json }}</pre> -->
</ng-container>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
