<ng-container *ngIf="data$ | async as data; else loading">
  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
  <div class="p-d-flex p-align-center">
    <p-button class="p-ml-2" label="Kthehu" icon="pi pi-arrow-left" routerLink="/" iconPos="left"></p-button>
    <h1 class="p-text-light p-p-4">Admin's Panel</h1>
    <button style="margin-left: 60%;" pButton pRipple type="button" label="Shto përdorues" icon="pi pi-plus" routerLink="/users/create" class="p-button-rounded p-button-secondary"></button>
  </div>
  <app-users-table
    [data]="data.data"
    [paginator]="paginator"
    (rowClicked)="handleRowClicked($event)"
    (deleteClicked)="handleDeleteClicked($event)"
    (paginatorChanged)="handlePaginatorChange($event)"
  >
  </app-users-table>
</ng-container>
<ng-template #loading>
  <p>Loading...</p>
</ng-template>
